# PART - I CREATING A PROCESSED TRAIN.CSV

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
train_df = pd.read_csv('../input/tabular-playground-series-dec-2021/train.csv')
train_df.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,0,3189,40,8,30,13,3270,206,234,193,...,0,0,0,0,0,0,0,0,0,1
1,1,3026,182,5,280,29,3270,233,240,106,...,0,0,0,0,0,0,0,0,0,2
2,2,3106,13,7,351,37,2914,208,234,137,...,0,0,0,0,0,0,0,0,0,1
3,3,3022,276,13,192,16,3034,207,238,156,...,0,0,0,0,0,0,0,0,0,2
4,4,2906,186,13,266,22,2916,231,231,154,...,0,0,0,0,0,0,0,0,0,2

In [3]:
train_df.shape

(4000000, 56)

In [4]:
# Converts multiple Soil types column to one column
# Also there are 40 types of soil
def data_squezer(row):
    a = None
    for i in range(1,41):
        a = 'Soil_Type'+str(i)
        if row[a] == 1:
            break
    return i

In [5]:
train_df['soil_type'] = [data_squezer(train_df.iloc[i]) for i in tqdm(range(len(train_df)))]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4000000/4000000 [17:05<00:00, 3900.79it/s]

In [6]:
train_df.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type,soil_type
0,0,3189,40,8,30,13,3270,206,234,193,...,0,0,0,0,0,0,0,0,1,29
1,1,3026,182,5,280,29,3270,233,240,106,...,0,0,0,0,0,0,0,0,2,29
2,2,3106,13,7,351,37,2914,208,234,137,...,0,0,0,0,0,0,0,0,1,29
3,3,3022,276,13,192,16,3034,207,238,156,...,0,0,0,0,0,0,0,0,2,29
4,4,2906,186,13,266,22,2916,231,231,154,...,0,0,0,0,0,0,0,0,2,29

In [7]:
del train_df['Id']

In [8]:
a = None
for i in range(1,41):
    a = f'Soil_Type{i}'
    del train_df[a]

In [9]:
train_df.head()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Wilderness_Area1,Wilderness_Area2,Wilderness_Area3,Wilderness_Area4,Cover_Type,soil_type
0,3189,40,8,30,13,3270,206,234,193,4873,1,0,0,0,1,29
1,3026,182,5,280,29,3270,233,240,106,5423,1,0,0,0,2,29
2,3106,13,7,351,37,2914,208,234,137,5269,1,0,0,0,1,29
3,3022,276,13,192,16,3034,207,238,156,2866,1,0,0,0,2,29
4,2906,186,13,266,22,2916,231,231,154,2642,1,0,0,0,2,29

In [10]:
def data_squezer_2(row):
    a = None
    for i in range(1,5):
        a = 'Wilderness_Area'+str(i)
        if row[a] == 1:
            break
    return i

In [11]:
train_df['wilderness_area'] = [data_squezer_2(train_df.iloc[i]) for i in tqdm(range(len(train_df)))]

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4000000/4000000 [10:51<00:00, 6142.44it/s]

In [12]:
a = None
for i in range(1,5):
    a = f'Wilderness_Area{i}'
    del train_df[a]

In [13]:
train_df.head()

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Cover_Type,soil_type,wilderness_area
0,3189,40,8,30,13,3270,206,234,193,4873,1,29,1
1,3026,182,5,280,29,3270,233,240,106,5423,2,29,1
2,3106,13,7,351,37,2914,208,234,137,5269,1,29,1
3,3022,276,13,192,16,3034,207,238,156,2866,2,29,1
4,2906,186,13,266,22,2916,231,231,154,2642,2,29,1

In [14]:
train_df.shape

(4000000, 13)

In [15]:
train_df.to_csv('/kaggle/working/processed_train_data.csv', index=False)

In [16]:
print('done')

done